version: '3.8'
services:
  db:
    image: nemt_db:ver1
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nemt

  nemt_backend:
    image: nemt_backend:ver1
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always 
    depends_on:
      - db
    networks:
      - nemt

  nemt_frontend_nginx:
    image: nemt_frontend_nginx:ver1
    ports:
      - "80:80"
    networks:
      - nemt
    restart: always

volumes:
  postgres_data:

networks:
  nemt:
